<!-- File: jokes.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/2/2026 -->
<!-- Description: The page that displays a list of all dad jokes -->
<!-- The html template that takes in context from the views.py jokes function and 
links to base.html to display the list of all dad jokes -->

{% extends 'dadjokes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>All Dad Jokes</h1>
        <p>Here is a list of all our dad jokes:</p>
        <ul>
            {% for joke in jokes %}
            <li>
                <a href="{% url 'joke' joke.pk %}">{{ joke.text }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>