<!-- File: pictures.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/2/2026 -->
<!-- Description: The page that displays a list of all pictures -->
<!-- The html template that takes in context from the views.py pictures function and 
links to base.html to display the list of all pictures -->

{% extends 'dadjokes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title>Pictures</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>All Pictures</h1>
        <p>Here is a list of all our pictures:</p>
        <ul>
            {% for picture in pictures %}
            <li>
                <a href="{% url 'picture' picture.pk %}">
                    <img src="{{ picture.image_url }}" alt="{{ picture.image_url }}">
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>