<!-- File: random.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/2/2026 -->
<!-- Description: The page that displays a random dad joke and random picture -->
<!-- The html template that takes in context from the views.py random function and 
links to base.html to display the random dad joke and random picture -->

{% extends 'dadjokes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title>Random</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>Random Image and Joke</h1>
        <h2>Here is a random dad joke:</h2>
        <p>{{ joke.text }}</p>
        <h2>Here is a random picture:</h2>
        <img src="{{ picture.image_url }}" alt="{{ picture.image_url }}">
        {% endblock %}
    </body>
</html>