<!-- File: search.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 3/1/2026 -->
<!-- Description: Search form (query input and submit). Search is done on behalf of the profile specified by pk. -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="search-main">
    <div class="search-card">
        <h1 class="search-title">Search</h1>
        <form action="{% url 'search' %}" method="get" class="search-form">
            <label for="query">Search Profiles and Posts</label>
            <textarea name="query" id="query" placeholder="Search for text, tags or people"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>
{% endblock %}
