<!-- File: show_all_profiles.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 2/12/2026 -->
<!-- Description: The page that displays all profiles -->
<!-- The html template for all profiles that takes in context from the views.py ProfileListView function to display the profiles -->

{% extends 'mini_insta/base.html' %} <!-- linking to the base.html template-->

{% block content %}
    <head>
        <title>All Profiles</title>
    </head>

    <main> 
        {% for profile in profiles %}
        <div class="profile-container"> 
            <div class="profile-content">
                <div class="profile-left">

                    <!-- linking to the show_profile.html template to display full profile -->
                    <a href="{% url 'show_profile' profile.pk %}">
                    <h1 class="display-name">{{ profile.display_name }}</h1>
                    </a>

                    <div class="profile-info">
                        <h2 class="username">{{ profile.username }}</h2>
                    </div>
                </div>
                
                <a href="{% url 'show_profile' profile.pk %}">
                    <div class="profile-image-container">
                        <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-image">
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}