{# File: graphs.html #}
{# Author: Kiefer Ebanks (kebanks@bu.edu), 3/20/2026 #}
{# Description: The template for the graphs page — displays Plotly graphs #}

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h2 class="section-title">Graphs</h2>

    <div class="row">
        {% include 'voter_analytics/search.html' %} <!-- including the search.html template to display the search form -->
    </div>

    <div class="row graph-block">
        {{ graph_div_dob_count|safe }}
    </div>

    <div class="row graph-block">
        {{ graph_div_party_affiliation_count|safe }}
    </div>

    <div class="row graph-block">
        {{ graph_div_voter_participation|safe }}
    </div>
</div>

{% endblock %}
