<!-- File: voters.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 3/20/2026 -->
<!-- Description: The template for displaying a list of voters -->
<!-- The template for displaying a list of voters that will be linked to base.html and displayed at the url /voters -->

{% extends 'voter_analytics/base.html' %} <!-- linking to the base.html template-->
{% load static %} <!-- loading static files for css styling -->

 
 
{% block content %}
<div class="container">
    <div class="row">
        {% include 'voter_analytics/search.html' %} <!-- including the search.html template to display the search form -->
    </div>

    {% comment %}

    Used this for debugging the current filters in the URL before I added the sticky filters
    <div class="row">

        {% if request.GET %}
        <p>

        <!--Displaying the current filters in the URL-->
        Current filters: 
        {% if request.GET.first_name %}First Name, {% endif %}
        {% if request.GET.last_name %}Last Name, {% endif %}
        {% if request.GET.dob_min_year %}Min Year, {% endif %}
        {% if request.GET.dob_max_year %}Max Year, {% endif %}
        {% if request.GET.party_affiliation %}Party Affiliation, {% endif %}
        {% if request.GET.voter_score %}Voter Score, {% endif %}
        {% if request.GET.voted_in_v20state %}Voted in v20state, {% endif %}
        {% if request.GET.voted_in_v21town %}Voted in v21town, {% endif %}
        {% if request.GET.voted_in_v21primary %}Voted in v21primary, {% endif %}
        {% if request.GET.voted_in_v22general %}Voted in v22general, {% endif %}
        {% if request.GET.voted_in_v23town %}Voted in v23town, {% endif %}
        </p>
        {% endif %}
    </div>
    {% endcomment %}

    <h2 class="section-title">Results</h2>

    {% if is_paginated %}
    <div class="pagination-bar" role="navigation" aria-label="Results pages">
        <span class="pagination-status">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        <span class="pagination-links">
            {% if page_obj.has_previous %}
                <a href="?{% if filter_querystring %}{{ filter_querystring }}&amp;{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?{% if filter_querystring %}{{ filter_querystring }}&amp;{% endif %}page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

    <div class="results-wrap">
        <table class="results-table">
            <thead>
                <tr>
                    <th scope="col">Voter ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Party Affiliation</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Voter Score</th>
                </tr>
            </thead>
            <tbody>
                {% for v in voters %}
                <tr>
                    <td><a href="{% url 'voter' v.pk %}">{{ v.voter_id }}</a></td>
                    <td>{{ v.first_name }}</td>
                    <td>{{ v.last_name }}</td>
                    <td>{{ v.party_affiliation }}</td>
                    {% if v.apartment_number %} <!-- check if the voter has an apartment number -->
                        <td>{{ v.street_number }} {{ v.street_name }}, {{ v.apartment_number }}, {{ v.zip_code }}</td> <!-- if the voter has an apartment number, include it in the address -->
                    {% else %}
                        <td>{{ v.street_number }} {{ v.street_name }}, {{ v.zip_code }}</td> <!-- if the voter does not have an apartment number, do not include it in the address -->
                    {% endif %}
                    <td>{{ v.date_of_birth }}</td>
                    <td>{{ v.voter_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}